// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron  {
    background-image:url('http://65.media.tumblr.com/458b36d1fa7f34b3af7957dd978698ef/tumblr_o6xga6emaf1st5lhmo1_1280.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:450px;
  }
